.buddyList-display {
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  border-top: 2px solid blue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid blue;
  background-color: beige;
  height: 570px;
}

.buddyList-header {
  background-color: blue;
  color: white;
}

.buddyList-header img {
  float: left;
  height: 20px;
  margin: 2px 5px 2px 5px;
}

.buddy-list {
  margin-top: 25px;
}

button:focus {
  outline: none;
}

button {
  float: left;
  padding: 0;
  border: none;
  background: none;
}

#buddy-tab {
  background-color: #ffdc0a;
}

#buddy-tab:hover {
  cursor: pointer;
  background-color: #ffe85b;
}

#img {
  padding-top: 10px;
  margin: auto;
  display: block;
  max-height: 150px;
  max-width: auto;
}

.nav-tabs {
  font-size: 12px;
}

.listOfBuddies {
  padding-left: 5px;
}

.listOfBuddies button:hover {
  cursor: pointer;
}

#offline {
  opacity: 0.5;
  line-height: .3;
}

#offline1 {
  margin-left: 17px;
  opacity: 0.5;
  line-height: .3;
}

.contacts{
  margin-top: -14px;
}

.listOfBuddies{
  margin-top: -15px;
  margin-left: 17px;
  margin-bottom: 2px;
}

.nav-link{
  box-shadow: 0 6px 8px -6px #999;
  -webkit-box-shadow: 10px 0 5px -2px #888;
    box-shadow: 10px 0 5px -2px #999;
}
