<div class="buddyList-display">
  <div class="buddyList-header">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png">
    <p>Buddy List</p>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/buddy-list/0">Online</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">List Setup</a>
    </li>
  </ul>
  <img src="assets/img/logo.png" id="img">
  <br>
  <div class="buddy-list">
    <p id="buddy-tab" (click)="showBuddies()">▼ Buddies (3/3)</p>
    <div class="listOfBuddies">
      <div *ngIf="b === 1">
        <div *ngFor="let chat of chatList | async">
          <button (click)="chatWithBuddy(chat.$key)">{{chat.buddy}}</button><br>
        </div>
      </div>

    </div>
  </div>
</div>
