.chat-display {
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  border-top: 2px solid blue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid blue;
  background-color: beige;
  padding-bottom: 50px;
}

.chat-header {
  background-color: blue;
  color: white;
}

.chat-header img {
  float: left;
  height: 20px;
  margin: 2px 5px 2px 5px;
}

.chat-log {
  background: white;
  border: 1px solid gray;
  margin-left: 100px;
  margin-right: 3px;
  padding-left: 3px;
  max-height: 250px;
  min-height: 250px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.compose {
  background: white;
  border: 1px solid gray;
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 3px;
  margin-bottom: 3px
}

input {
  border: none;
  width: 100%;
  padding-left: 3px;
}

button {
  float: right;
  margin-right: 3px;
}
